/**
 * App Specific Settings
 */

$primary: #5588CC;
$secondary: #225599;
$tertiary: #252525;

$head: alternate-gothic-no-1-d, Arial, sans-serif;
$body: acumin-pro-condensed, Arial, sans-serif;

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * General Styles Below
 */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  background: url('../img/bg.jpg') no-repeat center center;
  background-size: cover;
}

h1 {
  font-family: $head;
  font-size: calc(20vw + 28vh);
  font-weight: normal;
  line-height: 0.4em;
  margin: 20px;
}

h2 {
  font-family: $body;
  font-size: calc(2vw + 5vh);
  font-weight: 200;
  line-height: 0.8em;
  margin: 60px 0 0 0;
  padding: 20px 25px;
}

small {
  font-family: $body;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: bold;

  img {
    display: block;
    margin: 5px auto;
  }

  a#comodoTL {
    color: inherit;
    text-align: center;
    text-decoration: none;
    padding-left: 6px;
  }
}