@import './sass-only/_app.scss';
@import './sass-only/_utils.scss';

* {
  @include font-smoothing(on);
}

body {
  margin: 0;
  background: $tertiary;
  border: 24px solid $tertiary;
  color: $tertiary;
  font-family: $reg;
  min-height: 100vh;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

header {
  display: flex;
  padding: 50px calc(25px + 3vw) 0;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  background: rgba(255, 255, 255, 0);
  transition: 0.4s all $expo;

  &.interior {
    background: darken($primary, 2);
    padding: 25px calc(25px + 3vw);

    .logo {
      svg {
        width: 90px;
      }
    }

    nav {
      a {
        transform: translateY(0);
      }
    }
  }

  .logo {
    svg {
      width: 100px;
      transform: translateY(6px);
      transition: 0.4s width $expo;

      path {
        transition: 0.4s fill $expo;
        fill: #FFF !important;
      }
    }
  }

  nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;

    // To be removed
    @media screen and (max-width: 500px) {
      display: none;
    }

    a {
      display: inline-flex;
      align-items: center;
      position: relative;
      height: auto;
      font-size: 1.4rem;
      color: #FFF;
      font-weight: bold;
      text-decoration: none;
      padding: 6px 15px;
      transform: translateY(-10px);
      transition: 0.4s all $expo;

      &::before { content: "/"; }
      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        background: currentColor;
        transform: translate(-50%, 15px);
        transition: 0.3s width $expo;
      }

      &:hover {
        &::after { width: 60%; }
      }
    }
  }
}

.page {
  padding: 25px 0;

  &:not(.home) {
    width: calc(100vw - 240px);
    max-width: 970px;
    margin: 0 auto;
    padding:  30px 60px;
    background: #FFF;
    box-shadow: 0px 4px 41px rgba(45, 37, 37, 0.08);
    transform: translateY(100%);
    opacity: 0;

    @media screen and (max-width: 500px) {
      width: calc(100vw - 150px);
      padding:  30px 25px;
    }

    @keyframes slideIn {
      from {
        transform: translateY(100%);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    animation: slideIn 1550ms $expo 0s 1 normal;
    animation-fill-mode: forwards;
  }

  h3 {
    display: block;
    font-size: 4rem;
    padding: 0 20px 10px;
    margin: 10px 0;
    border-bottom: 12px solid;
    line-height: 79px;
    color: $inverse;
  }

  main {
    ::selection {
      background: $primary;
      color: #FFF;
    }

    h4 {
      color: $inverse;
      font-size: 2.6rem;
      margin-bottom: 22px;
      margin-top: 90px;
      padding: 11px 19px 16px;
      position: relative;
    }

    p {
      font-family: $body;
      line-height: 25px;
      font-size: 1rem;
      color: $inverse;
      padding: 0 18px;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
