@import './sass-only/_app.scss';
@import './sass-only/_utils.scss';

* {
  @include font-smoothing(on);
}

body {
  margin: 0;
  background: #FFF;
  border: 24px solid #FFF;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  color: $warmgrey;
  font-family: $reg;
  min-height: 100vh;
}

header {
  display: flex;
  padding: 50px calc(25px + 3vw) 0;
  background: rgba(255, 255, 255, 0);
  transition: 0.4s all $expo;

  &.interior {
    background: darken($luke1, 2);
    padding: 25px calc(25px + 3vw);

    .logo {
      svg {
        width: 90px;
      }
    }

    nav {
      a {
        transform: translateY(0);
      }
    }
  }

  .logo {
    svg {
      width: 100px;
      transform: translateY(6px);
      transition: 0.4s width $expo;

      path {
        transition: 0.4s fill $expo;
        fill: #FFF !important;
      }
    }
  }

  nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;

    a {
      display: inline-flex;
      align-items: center;
      position: relative;
      height: auto;
      font-size: 1.4rem;
      color: #FFF;
      font-weight: bold;
      text-decoration: none;
      padding: 6px 15px;
      transform: translateY(-10px);
      transition: 0.4s all $expo;

      &::before { content: "/"; }
      &::after {
        content: "";
        display: block;
        height: 1px;
        width: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        background: currentColor;
        transform: translate(-50%, 15px);
        transition: 0.3s width $expo;
      }

      &:hover {
        &::after { width: 60%; }
      }
    }
  }
}

.page {
  padding: 25px calc(25px + 3vw);

  &:not(.home) {
    width: 100vw;
    max-width: 970px;
    margin: 0 auto;
    background: #FFF;
    box-shadow: 0px 4px 41px rgba(45, 37, 37, 0.08);
  }

  h3 {
    display: block;
    font-size: 4rem;
    margin: 10px 0;
    border-bottom: 12px solid;
    line-height: 79px;
  }
}
