/**
 * Pastel Colour Set
 */

$purple: #aaa9fb;
$mauve: #dba9fa;
$pink: #fbaaf1;
$red: #fdaba6;
$orange: #fbcda5;
$yellow: #fbf5a5;
$green: #abf6a5;
$blue: #a1f8e9;

/**
 * Colour Series
 */

$warm1: #fdaba6;
$warm2: #fbcda5;
$warm3: #fbf5a5;

$luke1: #aaa9fb;
$luke2: #dba9fa;
$luke3: #fbaaf1;

$cool1: #a1f8e9;
$cool2: #93f0b7;
$cool3: #88e695;

/**
 * Greys
 */

$warmgrey: #33302c;
$coolgrey: #2c2e33;
$lightgrey: #f2f2f2;

/**
 * Site-wide theme
 */

$primary: $warm1;
$secondary: $warm2;
$tertiary: $warm3;

/**
 * Typefaces
 */

$reg: acumin-pro-condensed, sans-serif;
