/*
 * App utilities.
 *
 * Utilities are short little helpers such as center(), centerX, centerY etc.
 */

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
